# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LiDAR-game.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
